{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="{% static 'css/auth-css/login.css' %}">
</head>
<body>
  <div class="container">
    <form method="post" class="auth-form">
      {% csrf_token %}
      <h1>Iniciar sesión</h1>
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
      <button type="submit">Entrar</button>
      <p>¿No tienes cuenta? <a href="{% url 'signup' %}">Regístrate</a></p>

       <!-- Botón atrás -->
       <a href="{% url 'home' %}" class="back-btn">← Volver</a>
    </form>
  </div>
</body>
</html>
